{#Chat Preview - right part#}
<section class="chat-preview right-part">
    {#Lists of last messages - Oldest to Newest#}
    <ul class="chat">
        {#Notification#}
        <li class="chat-notification">
            {#Message#}
            <div class="chat-message">
                <p>WTF ! It's big shit. They're all stupid!</p>
            </div>
            {#User#}
            <div class="user">
                <div class="user-avatar-container">
                    <img class="user-avatar" src="{{ asset('bundles/core/images/users/user1.jpg') }}"
                         alt="user's name"/>
                </div>
            </div>
        </li>
        {#Notification#}
        <li class="chat-notification">
            {#Message#}
            <div class="chat-message">
                <p>My cat kicked my ass last night ... I'm afraid to go home</p>
            </div>
            {#User#}
            <div class="user">
                <div class="user-avatar-container">
                    <img class="user-avatar" src="{{ asset('bundles/core/images/users/user2.jpg') }}"
                         alt="user's name"/>
                </div>
            </div>
        </li>
        {#Notification#}
        <li class="chat-notification">
            {#Message#}
            <div class="chat-message">
                <p>Has she big boobs</p>
            </div>
            {#User#}
            <div class="user">
                <div class="user-avatar-container">
                    <img class="user-avatar" src="{{ asset('bundles/core/images/users/user1.jpg') }}"
                         alt="user's name"/>
                </div>
            </div>
        </li>
        {#Notification#}
        <li class="chat-notification">
            {#Message#}
            <div class="chat-message">
                <p>Last night I see Jennifer Lawrence in her last movie ... and she havn't go a lot of
                    clothes</p>
            </div>
            {#User#}
            <div class="user">
                <div class="user-avatar-container">
                    <img class="user-avatar" src="{{ asset('bundles/core/images/users/user2.jpg') }}"
                         alt="user's name"/>
                </div>
            </div>
        </li>
        {#Notification#}
        <li class="chat-notification">
            {#Message#}
            <div class="chat-message">
                <p>I'm hungry ! Where to eat?</p>
            </div>
            {#User#}
            <div class="user">
                <div class="user-avatar-container">
                    <img class="user-avatar" src="{{ asset('bundles/core/images/users/user1.jpg') }}"
                         alt="user's name"/>
                </div>
            </div>
        </li>
        {#Notification#}
        <li class="chat-notification writing">
            {#Message#}
            <div class="chat-message">
                <p>...</p>
            </div>
            {#User#}
            <div class="user">
                <div class="user-avatar-container">
                    <img class="user-avatar" src="{{ asset('bundles/core/images/users/user2.jpg') }}"
                         alt="user's name"/>
                </div>
            </div>
        </li>
    </ul>
</section>