{#Playlist container#}
<section class="playlist">

    <p class="title">Coming next</p>

    {#Playlist#}
    <ul>
        {#Video#}
        <li>
            {#Video Description: status, contributor, author and name - Left Part#}
            <div class="video-description">
                {# mongobox-add/mongobox-up/mongobox-random #}
                <span class="mongobox-up"></span>
                <div class="contributor">
                    <div class="contributor-avatar-container">
                        <img class="contributor-avatar"
                             src="{{ asset('bundles/core/images/users/user1.jpg') }}" alt="user's name"/>
                    </div>
                </div>
                <p class="video-author">Ten Hour Guy</p>
                <p class="video-title">Diggy Diggy Hole - 10 Hours</p>
            </div>

            {#Video Information: vote and timer - Right Part#}
            <div class="video-informations">
                <div class="video-vote">
                    <span class="active" data-vote="up"><span class="mongobox-like"></span>3</span>
                    <span data-vote="down"><span class="mongobox-dislike"></span>0</span>
                </div>
                <div>
                    <span class="video-timer"><span class="mongobox-timer"></span>3:46</span>
                </div>
            </div>
        </li>
        {#Video#}
        <li>
            {#Video Description: status, contributor, author and name - Left Part#}
            <div class="video-description">
                {# mongobox-add/mongobox-up/mongobox-random #}
                <span class="mongobox-add"></span>
                <div class="contributor">
                    <div class="contributor-avatar-container">
                        <img class="contributor-avatar"
                             src="{{ asset('bundles/core/images/users/user1.jpg') }}" alt="user's name"/>
                    </div>
                </div>
                <p class="video-author">Ten Hour Guy</p>
                <p class="video-title">Diggy Diggy Hole - 10 Hours</p>
            </div>

            {#Video Information: vote and timer - Right Part#}
            <div class="video-informations">
                <div class="video-vote">
                    <span class="active" data-vote="up"><span class="mongobox-like"></span>3</span>
                    <span data-vote="down"><span class="mongobox-dislike"></span>0</span>
                </div>
                <div>
                    <span class="video-timer"><span class="mongobox-timer"></span>3:46</span>
                </div>
            </div>
        </li>
        {#Video#}
        <li>
            {#Video Description: status, contributor, author and name - Left Part#}
            <div class="video-description">
                {# mongobox-add/mongobox-up/mongobox-random #}
                <span class="mongobox-up"></span>
                <div class="contributor">
                    <div class="contributor-avatar-container">
                        <img class="contributor-avatar"
                             src="{{ asset('bundles/core/images/users/user1.jpg') }}" alt="user's name"/>
                    </div>
                </div>
                <p class="video-author">Ten Hour Guy</p>
                <p class="video-title">Diggy Diggy Hole - 10 Hours</p>
            </div>

            {#Video Information: vote and timer - Right Part#}
            <div class="video-informations">
                <div class="video-vote">
                    <span class="active" data-vote="up"><span class="mongobox-like"></span>3</span>
                    <span data-vote="down"><span class="mongobox-dislike"></span>0</span>
                </div>
                <div>
                    <span class="video-timer"><span class="mongobox-timer"></span>3:46</span>
                </div>
            </div>
        </li>
        {#Video#}
        <li>
            {#Video Description: status, contributor, author and name - Left Part#}
            <div class="video-description">
                {# mongobox-add/mongobox-up/mongobox-random #}
                <span class="mongobox-random"></span>
                <div class="contributor">
                    <div class="contributor-avatar-container">
                        <img class="contributor-avatar"
                             src="{{ asset('bundles/core/images/users/user1.jpg') }}" alt="user's name"/>
                    </div>
                </div>
                <p class="video-author">Ten Hour Guy</p>
                <p class="video-title">Diggy Diggy Hole - 10 Hours</p>
            </div>

            {#Video Information: vote and timer - Right Part#}
            <div class="video-informations">
                <div class="video-vote">
                    <span class="active" data-vote="up"><span class="mongobox-like"></span>3</span>
                    <span data-vote="down"><span class="mongobox-dislike"></span>0</span>
                </div>
                <div>
                    <span class="video-timer"><span class="mongobox-timer"></span>3:46</span>
                </div>
            </div>
        </li>
        {#Video#}
        <li>
            {#Video Description: status, contributor, author and name - Left Part#}
            <div class="video-description">
                {# mongobox-add/mongobox-up/mongobox-random #}
                <span class="mongobox-random"></span>
                <div class="contributor">
                    <div class="contributor-avatar-container">
                        <img class="contributor-avatar"
                             src="{{ asset('bundles/core/images/users/user1.jpg') }}" alt="user's name"/>
                    </div>
                </div>
                <p class="video-author">Ten Hour Guy</p>
                <p class="video-title">Diggy Diggy Hole - 10 Hours</p>
            </div>

            {#Video Information: vote and timer - Right Part#}
            <div class="video-informations">
                <div class="video-vote">
                    <span class="active" data-vote="up"><span class="mongobox-like"></span>3</span>
                    <span data-vote="down"><span class="mongobox-dislike"></span>0</span>
                </div>
                <div>
                    <span class="video-timer"><span class="mongobox-timer"></span>3:46</span>
                </div>
            </div>
        </li>
    </ul>
</section>